<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.default.css">
    <link rel="stylesheet" href="/css/custom.css">
    <meta charset="UTF-8">
    <title>#title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/asyncNet.js"></script>
    <script src="/js/component.js"></script>
</head>
<body>


<div id="app" class="align-content-center">
    <app-compact :c="c" :state="state">
        <div v-if="state.tip" class="alert alert-warning">{{ state.tip }}</div>
        <h1 class="text-center">用户界面</h1>
        <div class="form align-self-center col-6">
            <div class="form-group form-inline">
                <div v-if="state.user">
                    <label>用户名:{{ state.user.name }}</label>
                    <label>用户ID:{{ state.user.uid }}</label>
                    <label>年龄:{{ state.user.age }}</label>
                    <label v-if="state.user.sex === false">性别 :男</label>
                        <label v-else>性别 :女</label>
                    <label>电子邮箱:{{ state.user.email }}</label>
                </div>
            </div>
        </div>
    </app-compact>

</div>

<script>

    let app = new Vue({
        el: '#app',
        data: {
            c: {
                // inject common object
                common: common,
                // inject net object
                net: net,
                title: '企业在线学习平台',
                menu: common.menu_me
            },
            state: common.defaultUserState()
        },
        methods: {
            stateChanged(state) {
                this.state = state
            },
            async init() {
                document.title = app.c.title;
                net.addWatcher(app.stateChanged)
                app.state = await net.userState()
                // to add the initialization code
                net.loaded()
            }
        }
    })

    window.onload = () => {
        app.init();
    }
</script>

</body>
</html>