<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.default.css">
    <link rel="stylesheet" href="/css/custom.css">
    <meta charset="UTF-8">
    <title>#title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/asyncNet.js"></script>
    <script src="/js/component.js"></script>
</head>
<body>
<div id="app">
    <app-compact :c="c" :state="state">
        <div v-if="state.tip" class="alert alert-warning">{{ state.tip }}</div>
        <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active">组织</li>
            </ul>
        </div>
        <section class="organizations">
            <div class="container-fluid organization">
                <div class="title font-weight-bold">我加入的部门</div>
                <div v-for="organization in organizationsOfIn" class="project">
                    <div class="row bg-canyon has-shadow">
                        <div class="col d-flex align-items-center justify-content-between">
                            <div class="organization-title d-flex align-items-center">
                                <div class="text">
                                    <h4><a :href="'/org/' + organization.id ">{{ organization.name }}(#{{ organization.id }})</a></h4>
                                    <div>
                                        <span class="badge badge-primary badge-rounded bg-primary badge-me">描述:{{ organization.description }}</span>
                                        <span v-if="organization.owner" class="badge badge-rounded bg-orange badge-me">主管理员:{{ organization.owner.name }}</span>
                                        <span class="badge badge-rounded bg-blue badge-me" v-for="department in organization.children">{{ department.name }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid organization">
                <div class="title font-weight-bold">其他部门</div>
<!--                <div v-for="organization in organizationGrouped.ofOthers" class="project">-->
<!--                    <div class="row bg-canyon has-shadow">-->
<!--                        <div class="col-10 d-flex align-items-center justify-content-between">-->
<!--                            <div class="organization-title d-flex align-items-center">-->
<!--                                <div class="text">-->
<!--                                    <h4><a :href="'/org/' + organization.id ">{{ organization.name }}(#{{ organization.id }})</a></h4>-->
<!--                                    <div>-->
<!--                                        <span class="badge badge-primary badge-rounded bg-primary badge-me">描述:{{ organization.description }}</span>-->
<!--                                        <span v-if="organization.owner" class="badge badge-rounded bg-orange badge-me">主管理员:{{ organization.owner.name }}</span>-->
<!--                                        <span class="badge badge-rounded bg-blue badge-me" v-for="department in organization.departments">{{ department.name }}</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-2 align-self-center">-->
<!--                            <button v-if="organization.state === 0" class="btn btn-outline-primary btn-block" :disabled="model.inviting" v-on:click="userInvite(organization)">取消申请</button>-->
<!--                            <button v-else class="btn btn-primary btn-block" :disabled="model.inviting" v-on:click="userInvite(organization)">申请</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </section>

    </app-compact>
</div>

<script>

    let app = new Vue({
        el: '#app',
        data: {
            c: {
                // inject common object
                common: common,
                // inject net object
                net: net,
                title: '企业在线学习平台 - 组织',
                menu: common.menu_org
            },
            state: common.defaultUserState(),
            model: {
                inviting: false
            },
            /**
             * @type Array<Organization>
             */
            organizationsOfIn: [

            ]
        },
        methods: {
            stateChanged(state) {
                this.state = state
            },
            async init() {
                document.title = app.c.title;
                net.addWatcher(app.stateChanged)
                app.state = await net.userState()
                // to add the initialization code
                if (common.isLogin(app.state)) {
                    let resOrgIn = await net.orgList()
                    if (common.resOk(resOrgIn)) {
                        app.organizationsOfIn = resOrgIn.data
                    }
                }
            },
            /**
             *
             * @param organization {Organization}
             * @return {Promise<void>}
             */
            async userInvite(organization) {
                app.model.inviting = true
                let resUserInvite = await net.orgUserInvite(organization.id)
                if (common.resOk(resUserInvite)) {
                    organization.state = resUserInvite.data.state
                }
                app.model.inviting = false
            }
        }
    })

    window.onload = () => {
        app.init();
    }
</script>

</body>
</html>