<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.default.css">
    <link rel="stylesheet" href="/css/custom.css">
    <meta charset="UTF-8">
    <title>#title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/asyncNet.js"></script>
    <script src="/js/conversion.js"></script>
    <script src="/js/component.js"></script>
</head>
<body>
<div id="app">
    <app-compact :c="c" :state="state">
        <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/org">部门</a></li>
                <li class="breadcrumb-item">{{ organization.name }}</li>
            </ul>
        </div>
        <div v-if="state.tip" class="alert alert-warning">{{ state.tip }}</div>
        <div class="row d-flex no-margin no-padding container-fluid" style="background-color: lightyellow;">
            <div class="flex-wrap" style="background-color: antiquewhite">
                <div v-if="model.current" class="card card-course card-block">
                    <div class="card-body">
                        <h5 class="card-title">
                            <button v-if="model.history.length > 0" v-on:click="navigateToParent"
                                    class="btn btn-primary btn-small margin-sm">&lt;
                            </button>
                            {{ model.current.name }}#{{ model.current.id }}
                            <small>{{ model.current.description }}</small>
                        </h5>
                        <!-- 邀请用户加入组织 -->
                        <div class="d-flex justify-content-end">
                            <button v-if="model.current.level > 0" class="btn btn-primary btn-sm margin-sm"
                                data-toggle="modal" data-target="#modalCourseOpen">开设课程
                            </button>
                            <button v-if="model.isOwn" class="btn btn-primary btn-sm margin-sm" data-toggle="modal"
                                    data-target="#modalInvite">邀请用户加入
                            </button>
                        </div>
                        <div v-for="dep in model.current.children" class="hover-select">
                            <div class="row align-items-center">
                                <div class="col">
                                    {{ dep.name }}#{{ dep.id }}
                                </div>
                                <button v-if="model.isOwn" class="col-2 btn btn-danger btn-sm margin-sm">
                                    删除
                                </button>
                                <button class="col-2 btn btn-primary btn-sm margin-sm"
                                        v-on:click="navigateToChild(dep.id)">
                                    查看
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-wrap" style="background-color: antiquewhite">
                <div class="card card-course card-block">
                    <div class="card-body">
                        <div v-for="user in model.users" class="hover-select">
                            <div>
                                {{ user.name }}#{{ user.uid }}
                            </div>
                            <div>
                                <span v-for="tag in user.tags" class="badge margin-sm"
                                      :class="tag.depth === 0 ? 'bg-blue': 'bg-gray'">
                                    {{ tag.name }}#{{ tag.nodeId }}
                                    <span v-if="tag.level === 1">
                                        |管理员
                                    </span>
                                    <span v-if="tag.level === 2">
                                        |超级管理员
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col flex-wrap card-margin container-fluid">
                <div class="card card-block">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ organization.name }}#{{ organization.id }}
                        </h5>
                        <div>
                            描述： {{ organization.description }}
                        </div>
                        <div>
                            是否公开的组织：
                            <input type="checkbox" v-model="organization.public">
                            {{ organization.public === true? '公开' : '不公开' }}
                        </div>
                    </div>
                </div>
                <div v-if="model.isOwn" class="card card-block">
                    <div class="card-body">
                        <h5 class="card-title">
                            申请用户加入组织
                        </h5>
                        <div v-for="invite in inviteModel.inviteList" class="hover-select">
                            {{ invite.user.name }}#{{ invite.user.uid }} -&gt;
                            <span class="badge badge-me bg-blue">
                                <span v-if="invite.orgNode.id !== invite.root.id">{{ invite.root.name }}#{{ invite.root.id }}</span>&nbsp;
                                {{ invite.orgNode.name }}#{{ invite.orgNode.id }}
                            </span>

                        </div>
                    </div>
                </div>
                <div v-if="model.isOwn" class="card card-block">
                    <div class="card-body">
                        <h5 class="card-title">
                            用户申请加入组织
                        </h5>
                        <div v-for="invite in inviteModel.inviteListInverse" class="hover-select">
                            用户 {{ invite.user.name }}#{{ invite.user.uid }} 申请加入 {{ invite.orgNode.name
                            }}#{{ invite.orgNode.id }}
                        </div>
                    </div>
                </div>

                <h3>开设的课程</h3>
                <section class="section-course d-flex flex-wrap">
                    <div class="card card-course" style="max-width: 18rem; " v-for="courseOpen in model.courseOpens">
                        <a :href="'/course/' + courseOpen.course.id + '#openId=' + courseOpen.id ">
                            <img :src="'/api/file/'+ courseOpen.course.pic" class="card-img-top card-img" alt="img">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{  courseOpen.course.name }}</h5>
                            <p class="card-text"><small>{{  courseOpen.course.info }}</small></p>
                            <div>
                            <span class="badge badge-rounded bg-red badge-me">
                                所在组织：{{ courseOpen.root.name }}&nbsp;{{ courseOpen.orgNode.name }}
                            </span>
                                <span class="badge badge-rounded bg-blue badge-me" v-for="tag in  courseOpen.course.courseTags">{{ tag.name }}</span>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalInvite" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">邀请用户加入</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="form form-inline">
                                    <label>
                                        <input class="col" placeholder="请搜索用户" v-model="inviteModel.query">
                                    </label>
                                    <button class="btn btn-primary btn-sm" v-on:click="searchPerson">搜索</button>
                                </div>
                                <div>
                                    <div v-for="user in inviteModel.users" class="hover-select user-select-none"
                                         v-on:click="clickUserAdd(user)">
                                        {{ user.name }}#{{ user.uid }}
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div>邀请列表</div>
                                <div>
                                    <div v-for="user in inviteModel.selectUsers" class="hover-select user-select-none"
                                         v-on:click="clickUserRemove(user)">
                                        {{ user.name }}#{{ user.uid }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" :disabled="inviteModel.processing"
                                v-on:click="submitInvite">提交
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalCourseOpen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">开设课程</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form">
                            <div class="form-group">
                                <label>
                                    选择开设的课程
                                    <select class="form-control" v-model="model.courseIndex" v-on:change="course=model.adminCourses[model.courseIndex]">
                                        <option v-for="course,index in model.adminCourses" :value="index">
                                            {{ course.name }}
                                        </option>
                                    </select>
                                </label>

                            </div>
                            <div>
                                <p>课程预览</p>
                                <div v-if="course !== null" class="card card-course" style="max-width: 18rem; ">
                                    <a :href="'/course/' + course.id">
                                        <img :src="'/api/file/'+course.pic" class="card-img-top card-img" alt="img">
                                    </a>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ course.name }}</h5>
                                        <p class="card-text"><small>{{ course.info }}</small></p>
                                        <div>
                                            <span class="badge badge-rounded bg-blue badge-me" v-for="tag in course.courseTags">{{ tag.name }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" v-on:click="courseOpenCreate">开设课程
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </app-compact>
</div>

<script>

    let app = new Vue({
        el: '#app',
        data: {
            c: {
                // inject common object
                common: common,
                // inject net object
                net: net,
                // inject the conversion object
                conversion: conversion,
                title: '部门详细信息',
                menu: common.menu_org
            },
            /**
             * @type User
             */
            state: common.defaultUserState(),
            /**
             * @type Organization
             */
            organization: {
                id: -1,
                name: '某组织'
            },
            course: null,
            model: {
                history: [],
                /**
                 * @type Organization
                 */
                current: null,
                isOwn: false,
                /**
                 * @type Array<User>
                 */
                users: [],
                /**
                 * @type Array<Course>
                 */
                adminCourses: [],
                courseIndex: -1,
                /**
                 * @type Array<CourseOpen>
                 */
                courseOpens: []
            },
            inviteModel: {
                processing: false,
                query: '',
                /**
                 * @type Array<User>
                 */
                users: [],
                /**
                 * @type Array<User>
                 */
                selectUsers: [],
                /**
                 * @type Array<UserOrgNodeInvitation>
                 */
                inviteList: [],
                /**
                 * @type Array<UserOrgNodeInvitation>
                 */
                inviteListInverse: []
            }
        },
        methods: {
            stateChanged(state) {
                app.state = state
            },
            async updatePerson(orgId) {
                let resUsers = await net.orgGetPerson(orgId);
                if (common.resOk(resUsers)) {
                    app.model.users = resUsers.data
                }
            },
            async navigateToChild(orgId) {
                app.model.history.push(app.model.current)
                app.model.current = app.model.current.children.find((dep) => {
                    return dep.id === orgId
                })
                await app.updatePerson(orgId)
            },
            async navigateToParent() {
                app.model.current = app.model.history[app.model.history.length - 1]
                app.model.history.pop()
                await app.updatePerson(app.model.current.id)
            },
            async searchPerson() {
                let org_id = app.organization.id
                let query = app.inviteModel.query
                let resUsersSearch = await net.orgSearchPerson(org_id, query)
                if (common.resOk(resUsersSearch)) {
                    app.inviteModel.users = resUsersSearch.data
                }
            },
            async getInviteList() {
                let org_id = app.organization.id
                let resInviteList = await net.orgInviteList(org_id)
                if (common.resOk(resInviteList)) {
                    app.inviteModel.inviteList = resInviteList.data.filter(
                        (value) => value.inverse === false
                    )
                    app.inviteModel.inviteListInverse = resInviteList.data.filter(
                        (value) => value.inverse === true
                    )
                }
            },
            /**
             * 将一个用户加入selectUsers
             * @param user {User}
             */
            clickUserAdd(user) {
                if (app.inviteModel.selectUsers.find(
                    (value) => value.uid === user.uid
                ) === undefined) {
                    app.inviteModel.selectUsers.push(user)
                }
            },
            /**
             * 将一个用户从一个selectUsers删除
             * @param user {User}
             */
            clickUserRemove(user) {
                app.inviteModel.selectUsers = app.inviteModel.selectUsers.filter(
                    (value) => value.uid !== user.uid
                )
            },
            async processInvite(inviteId) {

            },
            async getCourseAdminList(){
                let res = await net.courseListAdmin()
                if (common.resOk(res)) {
                    app.model.adminCourses = res.data
                }
            },
            async submitInvite() {
                app.inviteModel.processing = true
                app.inviteModel.selectUsers.forEach(
                    (value) => {
                        net.orgInvitePerson(app.model.current.id, value.uid)
                    }
                )
                app.inviteModel.selectUsers = []
                app.inviteModel.processing = false
                await app.getInviteList()
            },
            async courseOpenCreate() {
                if (app.course === null) {
                    app.state.tip = '必须选择一门课程'
                    return
                }
                let res = await net.courseOpenCreate(app.organization.id, app.course.id)
                if (common.resOk(res)) {
                    $('#modalCourseOpen').modal('hide')
                }
            },
            async init() {
                document.title = app.c.title;
                net.addWatcher(app.stateChanged)
                app.state = await net.userState()
                // to add the initialization code
                if (common.isLogin(app.state)) {
                    // 获取uri部件
                    let uri_component = common.uri(window.location)
                    console.log(uri_component)
                    // 获取/org/:{id}
                    let organization_id = uri_component.paths[2]
                    let resOrg = await net.orgGet(organization_id)
                    if (common.resOk(resOrg)) {
                        app.organization = resOrg.data
                        app.model.current = app.organization
                        app.model.isOwn = app.model.current.owner.uid === app.state.user.uid
                        await app.updatePerson(organization_id)
                        if (app.model.isOwn) {
                            await app.getInviteList()
                            await app.getCourseAdminList()
                        }

                    }
                    let resCourseOpens = await net.courseOpenListOfOrg(app.organization.id)
                    if (common.resOk(resCourseOpens)){
                        app.model.courseOpens = resCourseOpens.data
                    }
                }
            }

        }
    })

    window.onload = () => {
        app.init();
    }
</script>

</body>
</html>