<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>注册页面</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div>
        <h1 class="text-center">欢迎来到注册界面</h1>
        <form class="form-horizontal center-block" style="width: 600px" th:action="@{/user/register}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="uid" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{uid}" class="form-control" id="uid" placeholder="请输入用户名">
                </div>
                <label style="color:red" th:if="${#fields.hasErrors('uid')}" th:errors="*{uid}">Uid Error</label>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">昵称</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="请输入昵称">
                </div>
                <label style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</label>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="请输入密码">
                </div>
                <label style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</label>
            </div>
            <div class="form-group">
                <label for="rePassword" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" th:field="*{rePassword}" class="form-control" id="rePassword" placeholder="请再次输入密码">
                </div>
                <label style="color:red" th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}">RePassword Error</label>
            </div>
            <div class="form-group">
                <label for="age" class="col-sm-2 control-label">年龄</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{age}" class="form-control" id="age" placeholder="请输入年龄">
                </div>
                <label style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</label>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">性别</label>
                <div class="col-sm-10">
                    <label>男<input type="radio" th:field="*{sex}" th:value="false" checked/></label>
                    <label>女<input type="radio" th:field="*{sex}" th:value="true"/></label>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="请输入邮箱">
                </div>
                <label style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</label>
            </div>
            <label style="color:red" th:if="${result?.failed}" th:text="${result.result}"></label>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" id="btn">提交</button>
                    <input type="reset" class="btn btn-warning" value="重新填写"/>
                </div>
            </div>

        </form>
    </div>

</body>
</html>