<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="/save" method="post">
    姓名：<input type="text"  name="name"><br/>
    密码：<input type="text"  name="password"><br/>
    请重新输入密码：<input type="text"  name="repassword"><br/>
    年龄：<input type="text"  name="age"><br/>
    性别：<input type="radio" name="sex" value="男" />男
    <input type="radio" name="sex" value="女" />女
    </br>
    联系电话：<input type="text" name="phone"><br/>
    <button>注册</button><br/>
</form>
<a  href="login"><button>跳转到登录界面</button></a>
</body>
</html>