<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <script>
        function click1(){

        }
    </script>
</head>
<body>
<a  href="/logout"><button>退出登录</button></a>
<form action="/delete" method="post">
<div align="center">
    <table style="border: 1px solid;">
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>联系电话</th>
        </tr>
        <tr th:each="user:${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}" name="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.sex}"></td>
            <td th:text="${user.phone}"></td>
        </tr>
    </table>
</div>
</form>
<a  href="/delete" onClick="return confirm('确定删除?');"><button>注销账号</button></a>
</body>
</html>