<!DOCTYPE html>
<html>
<head>

<script type="text/javascript"> 
function disp_alert() 
{ 
alert("确定要删除该课程吗？？！！") 
} 
</script>
<meta charset="UTF-8">
<title>进行加入部门或者推退出部门的操作</title>
</head>
<body>
<form action="/joindepartment" method="post">
           课程ID(不是课程名)：<input type="text"  name="courseID">
    <br/>
    <button>点击查询</button><br/>
</form>


<form action="/quitdepartment" method="post">
    课程ID(不是课程名)：<input type="text"  name="courseID">
    <br/>
    <button οnclick="disp_alert()" >点击取消订阅</button><br/>
</form>
</body>
</html>