<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>课程信息</title>
</head>
<body>
    <div align="center">
        <table style="border: 1px solid;">
            <tr>
                <th>课程编号</th>
                <th>课程名</th>
                <th>简介</th>
                <th>开课时间</th>
                <th>结课时间</th>
            </tr>
            <tr th:each="courses:${coursesList}">
                <form action="/cnodefind" method="post">
                <td><input type="text" th:value="${courses.id}" name="id" size="5" readonly style="border:none"/></td>
                <td><input type="submit" th:value="${courses.name}" name="name"/></td>
                <td th:text="${courses.info}"></td>
                <td th:text="${courses.starttime}"></td>
                <td th:text="${courses.endtime}"></td>
            </form>
            </tr>

        </table>
    </div>
</body>
</html>